.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__xskI {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 16px;
}
.freeBox__xskI > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__xskI > :global(.__wab_flex-container) > *,
.freeBox__xskI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xskI > :global(.__wab_flex-container) > picture > img,
.freeBox__xskI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__xskI {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
  min-width: 0;
  padding: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xskI {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xskI > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xskI {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
.freeBox__zx7KN {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox__zx7KN > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__zx7KN > :global(.__wab_flex-container) > *,
.freeBox__zx7KN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zx7KN > :global(.__wab_flex-container) > picture > img,
.freeBox__zx7KN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__zx7KN {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zx7KN {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zx7KN > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zx7KN > :global(.__wab_flex-container) > *,
  .freeBox__zx7KN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zx7KN > :global(.__wab_flex-container) > picture > img,
  .freeBox__zx7KN
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zx7KN {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.img {
  object-fit: cover;
  width: 40px;
  height: 40px;
  position: relative;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__mYUnl {
  display: flex;
  position: relative;
  flex-direction: row;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.freeBox__mYUnl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__mYUnl > :global(.__wab_flex-container) > *,
.freeBox__mYUnl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mYUnl > :global(.__wab_flex-container) > picture > img,
.freeBox__mYUnl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__mYUnl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mYUnl > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mYUnl > :global(.__wab_flex-container) > *,
  .freeBox__mYUnl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mYUnl > :global(.__wab_flex-container) > picture > img,
  .freeBox__mYUnl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mYUnl {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.button2__agi46:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__udPx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__imJDz {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__rB9Ax {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__q0CEl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__ujTdZ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__aw3Ez {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__eQoyP {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__vy0T4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__p4BtI {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__clgqE {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__xl24A {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__nZye7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__lUkEc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__pHkPz {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__hdPZ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__mWgrJ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__yIimN {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__mdKlp {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__nOxyr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2___8Voxf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__l6Zuj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__iwL2M {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___3Dk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__g0AT {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button2__nb5Lo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__dzTsp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__maYeU {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__ckiMe {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
